{% extends 'moban.html'%}
{%block content%}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="formFile" class="form-label">上传Excel文件</label>
        <input type="text" class="form-control" name="name" placeholder="请输入批次名称" required>
        <input type="file" name="file" style="margin-top: 20px;">
    </div>
    <!-- 直接替换你原来的 button 这一行 -->
<button type="submit" class="btn-submit-mini">
    <i class="fas fa-paper-plane"></i> 提交信息
</button>
</form>
{% endblock %}